/*  se define una clase .container que establece un ancho máximo de 960 píxeles,  
centra el contenido horizontalmente y utiliza flexbox para envolver las 4 tarjetas y
alinearlas en el centro de la página. Además, se definen estilos para las tarjetas (.card) que incluyen un sombreado,
márgenes y relleno adecuados, una imagen ajustable al ancho de la tarjeta, información centrada y un enlace estilizado. */

/* la regla CSS contiene FLEX-WRAP: WRAP permite que los elementos hijos se obliguen a permanecer en la misma linea o pueden influir 
en varias lineas  */

/* las propiedas aplicadas al backgroun funcion de tal froma que hace que la imagen de fondo no se repita, se arregle su posicion y que cubra
todo el cuerpo de la página */
body {
  background-image: url("https://cdn.pixabay.com/photo/2020/03/17/22/59/vet-4942118_1280.png ");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

h1 {
  text-align: center;
}

#contactenos {
  margin-top: 40px;
  margin-bottom: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

td {
  text-align: center;
}



/* CLASE CONTENDOR */
.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bar {
  position: fixed;
  top: 0;

  height: 100vh;
  width: 90px;
  background-color: rgba(245, 177, 94, 0.93);
  z-index: -1;
}

.left-bar {
  left: 50px;
}

.right-bar {
  right: 50px;
}

/* DISEÑO DE LAS TARJETAS */
.card {
  background-color: rgba(240, 248, 255, 0.568);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 70px;
  padding: 20px;
  width: 300px;
  height: 400px;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  transition: ease-in-out 0.4s;
}

.aboutusp {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  padding: 10px;
  border: 2px solid #5e8f3c;
  border-radius: 10px;
  background-color: #fff9e6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  border-bottom: 4px solid #f4a71d;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  border-bottom: 4px solid orange;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* COLOR DE FONDO EN LA BARRA DE NAVEGACION */

/* DISEÑO PARA LA IMAGEN CON EL ID PERROGATO */
#perrogato {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -150px;
  margin-bottom: -30px;
}

/* DISEÑO PARA LA IMAGEN CON ID IMGCAT3 */

/* DISEÑO PARA LAS DEMÁS IMAGENES DE LAS CARDS */
.card img {
  margin: 0px;
  width: 100%;
  height: auto;
  max-height: 250px;
}

/* DISEÑO PARA LA INFORMACION QUE CONTIENE LA CARTA */
.card-info {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* DISEÑO PARA LOS TITULOS H2 DENTRO LA CLASE CARDINFO */
.card-info h2 {
  margin-top: 0;
}

/* DISEÑO PARA LOS PARRAFOS DENTRO DE LA CLASE CARDINFO */
.card-info p {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

/* DISEÑO PARA LOS ENLACES DENTRO DE LA CLAS CARDINFO */
.card-info a {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #0077cc;
  font-weight: bold;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

/* DISEÑO PARA LOS ENLACES DENTRO DE LA CLASE CONTAINER */
.container a {
  text-decoration: none;
  color: black;
}

.card>* {
  grid-area: 1/1;
  transition: 0.4s;
}

/* DISEÑO DEL COMPORTAMIENTO QUE TENDRÁ LA CLASE CARD AL PONER EL CURSOR ENCIMA */
.card:hover {
  transform: scale(1.1);
  filter: drop-shadow(30px 10px 4px #3d4b802c);
  background-color: rgb(240, 248, 255);
  color: black;
}

/* DISEÑO PARA LAS TABLAS */
table {
  border-collapse: collapse;
  /* Combina los bordes de la tabla en lugar de crear bordes separados */
  width: 500px;
  height: 500px;
  margin: auto;
  margin-top: 130px;
  background-color: aliceblue;
}

/*DISEÑO PARA LOS TABLE DATA  */
td {
  border: 1px solid black;
  /* Establece un borde de 1 píxel sólido de color negro para todas las celdas de la tabla */
}

/* diseño para listas */
li {
  list-style: none;
}

/* diseño para la galeria */

.contenedor {
  padding: 75px 0;
  margin: 0 auto;
  width: 1140px;
}

/* diseño para los tirulos h1 */
h1 {
  position: relative;
  margin-bottom: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 44px;
  text-transform: uppercase;
  color: #424242;
}

.btncorr {
  margin-top: 10px;
  width: 100px;
  max-height: 40px;
}


.bd-example form {
  display: inline;
  background-color: lightgrey;
  width: 42%;
  border-radius: 20px;
  border: solid white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: -700px;
  margin-bottom: 130px;


  max-height: 650px;
}

#solicitar {
  margin-left: auto;
  margin-right: auto;
}

.form-control {
  display: inline-block;
  width: 10%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--bs-body-color);
  background-color: var(--bs-form-control-bg);
  background-clip: padding-box;
  border: var(--bs-border-width) solid var(--bs-border-color);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#exampleCheck1 {
  margin-left: 10px;
}

.form-check-label {
  margin-left: 10px;
}

.btn {
  margin-left: 10px;
}

/* diseño para la galeria en acoredeon */
.acordeon {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 70vh;
}

.item {
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: ease-in-out 1s;
  width: 600px;
  height: 600px;
}

.contenedor {
  max-width: 100%;
  height: auto;
}
.comentarios{
  max-width: 500px;
 
}
fieldset{
  margin: 0 auto;
  max-width: 300px;
}
.acordeon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 248, 255, 0.717);
  padding: 20px;
  text-align: center;
  font-size: 16px;
  color: #333;
  visibility: hidden;
  margin: 0 auto;
}

.show-footer {
  border-radius: 40px;
  margin-bottom: 10px;
  max-height: 120px;
  max-width: 91%;
  visibility: visible;
}

.footer-spacing {
  padding-bottom: 120px;
  /* ajusta la altura del padding para que coincida con la altura del footer */
}


/* a las clases items se les asigna un fondo con una imageb */
.item-1 {
  background-image: url("https://clinicaveterinariatotanimals.es/wp-content/uploads/2021/11/instalaciones-tot-animals6.jpg");
}

.item-2 {
  background-image: url("https://papelmatic.com/wp-content/uploads/2019/09/papelmatic-higiene-profesional-limpieza-desinfeccion-clinicas-veterinarias.jpg");
}

.item-3 {
  background-image: url("https://img.freepik.com/foto-gratis/acercamiento-al-medico-veterinario-cuidando-mascota_23-2149267934.jpg?w=2000");
}

.item-4 {
  background-image: url("https://www.unicusano.it/blog/wp-content/uploads/2022/08/come-diventare-veterinario.jpg");
}

.item-5 {
  background-image: url("https://www.paxinasgalegas.es/imagenes/coruvet_img631709n2t2.jpg");
}

.item-6 {
  background-image: url("https://zootecniasl.com/blog/wp-content/uploads/2020/03/guia-visitas-clinica-veterinaria-2.jpg");
}

.item-7 {
  background-image: url("https://irp.cdn-website.com/ea77f186/MOBILE/jpg/348.jpg");
}

.item-8 {
  background-image: url("https://atriumveterinaria.com/wp-content/uploads/2021/10/cardiologia-veterinaria-perro-1024x768.jpg");
}

.item-9 {
  background-image: url("https://www.paginasamarillas.com.pe/_next/image?url=https%3A%2F%2Fwww.paginasamarillas.com.pe%2Fimagenes%2Fpe%2Fimages%2Fad_id_4451%2Fimage_id_13534.jpeg&w=3840&q=75");
}

.item-10 {
  background-image: url("https://img.freepik.com/foto-gratis/gato-blanco-esponjoso-veterinario-gatos-animales-sofa_1157-46556.jpg");
}

.item:hover {
  flex: 7;
}

.videos {
  display: flex;
  justify-content: center;
  /* Ajusta la alineación horizontal */
  align-items: center;
  /* Ajusta la alineación vertical si es necesario */
}

.videos iframe {
  margin-right: 10px;
  /* Opcional, agrega un margen derecho entre los videos */
}

header nav {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  border-radius: 15px;
}

nav ul {
  list-style: none;
  overflow: hidden;
}

nav ul li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

nav {
  float: left;
}

nav ul li:hover {
  background: #eca023;
  border-radius: 15px;
}

nav ul li a {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 767px) {
  nav span {
    flex-direction: column;
    /* diseño de columna para dispositivos móviles */
  }
}

/* REDES SOCIALES */
.redes-sociales,
.contacto {
  background-color: #f8f8f8b7;
  padding: 20px;
  margin-bottom: 20px;
}

.redes-sociales h2,
.contacto h2 {
  margin-top: 0;
}

.redes-sociales ul,
.contacto ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li,
.contacto li {
  margin-bottom: 10px;
}

.redes-sociales a,
.contacto li {
  color: #333;
  text-decoration: none;
}

.redes-sociales a:hover {
  text-decoration: underline;
}

.redes-sociales {
  display: inline-block;
  align-items: center;

}

.contacto {
  display: inline-block;
}

input {
  border-radius: 6px;
  background-color: rgb(245, 245, 245);
}

table {
  width: 50%;
}

td,
th {

  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  table {
    display: block;
    overflow-x: auto;
  }

  td {
    display: block;
    text-align: center;
    overflow-x: auto;
  }


}

@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul {
    flex-direction: column;
  }

  li {
    margin: 0;
  }

  .redes-sociales {
    margin-top: 100px;
    margin: 0 auto;
    margin-left: 80px;
  }

  .contacto{
    margin: 0 auto;
    margin-left: 40px;
  }
}




@media only screen and (max-width: 767px) {
  .bd-example {
    display: flex;
    height: 200px;
    margin-top: 630px;
    max-width: 200px;
    max-height: 900px;


  }

  .bd-example form {

    height: 580px;
    width: 300px;
  margin-left: 50px;

  }

  .redes-sociales ul {
    margin: 0 auto;
  }

  .redes {
    margin: 0 auto;
  }

  .comentarios{
    max-width: 100px;
  }


  .bar {
    display: none;
  }
  
  .fieldset{
    max-width:200px;
  }

  
  
}
